# IDE / VCS
.vscode/
.idea/
.git
.gitignore

# Flutter build artifacts
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# Platform dirs (if you're only building for web or desktop in Docker)
android/
ios/
linux/
macos/
windows/

# Other misc
.history/
.metadata
*.sh
*.conf
